.character-card {
  border-radius: 5px;
  cursor: pointer;
  min-height: 80px;
  margin: 5px 5px 20px 5px;
  text-align: left;
  overflow: hidden;
  width: 400px;

  -webkit-box-shadow: 3px 2px 22px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 2px 22px -4px rgba(0,0,0,0.75);
  box-shadow: 3px 2px 22px -4px rgba(0,0,0,0.75);

  .card-header {
    display: flex;
    background-color: #97ce4c;
    padding: 2px 10px;
    height: 25px;
    align-items: center;
    justify-content: space-between;

    .name {
      color: white;
      cursor: pointer;
      font-size: 18px;
    }

    .origin {
      color: white;
      cursor: pointer;
      flex: 1 1;
      text-indent: 10px;
      text-align: left;
      font-size: 13px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;

      &:hover {
        color: #30aa2a;
      }
    }

    .species {
      color: white;
      text-align: right;
      font-size: 13px;
    }
  }

  .card-content {
    display: flex;
    font-size: 13px;
    flex: 1 1;
    padding: 10px 15px 20px;
    overflow-y: auto;

    img {
      height: 100px;
      width: 100px;
    }

    .profile {
      padding: 0 10px;
      display: flex;
      flex-direction: column;

      span,
      label {
        cursor: pointer;
      }

      .location {
        &:hover {
          color: #30aa2a;
        }
      }
    }
  }

  &:hover {

    .card-header {
      background-color: #70ce4c;
    }
  }
}