.PlumbusPage {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  background-color: #fbdac7;

  h1 {
    color: #ebaa96;
  }

  .plumbus-video {
    width: 560px;
    height: 315px;
    background-color: #fa9a9c;
    border-radius: 5px;

    -webkit-box-shadow: 3px 2px 22px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 2px 22px -4px rgba(0,0,0,0.75);
    box-shadow: 3px 2px 22px -4px rgba(0,0,0,0.75);
  }
}